doctype html
html

  head
    title Login
    link(rel="icon" href="http://learn.javascript.ru/img/favicon/favicon.png")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="/style.css")

  block content
